html{
      width: 100%;

  body{
      width: 100%;
      section{
        display:none;
      }
  }
  section{
    display:none;
    color: #333;
  }
}

.inverse{
  background: #000;
  color: #fff;
}
.image-path{
  float: right;
  padding: 11px 11px;
  margin-left: 10px;
  // float: right !important;
  /*margin-left: 50px;*/
}

#navbar {
  padding: 15px 40px;
  position: relative;
}

.navbar-header{
  position: absolute;
  top: 15%;
  margin: 0; padding: 0;
}

.btn-takephoto {
  font-size:350%;
  margin-right: 20px;
  //float:right;
}

.btn.inverse{
  border: 1px solid #fff;
}

.btn.inverse:hover{
  color: #fff;
}

a.navbar-brand{
  width: 280px;
  height: 78px;
  background: url('/imgs/zoomcitylogo.png');
  text-indent: -9999px;
  overflow:none;
}

.container {
  padding-top: 120px;
}
