html{
      width: 100%;

  body{
      width: 100%;
      section{
        display:none;
      }
  }
  section{
    display:none;
    color: #333;
  }


}

.image-path{
  float: right;
  padding: 15px 15px;
  // float: right !important;
  /*margin-left: 50px;*/
}

.btn-takephoto {
  font-size:200%;
  float:right;
  margin: 10px 10px 10px 10px;
}


.container {
  padding-top: 50px;
}
